
/* Type Selectors */

/*

This helpful
comment spans
multiple lines....
.....

*/


body {
  color: #878787;
  margin: 0;
  /* font-size: 1em; */
  /* font-family: Helvetica, Arial, sans-serif; */
 /* /* 	good idea to list multiple fonts as well as a generic font at the end to ensure that the user viewing the doc has the font to read it */ */
	/* line-height: 1.5; */
	/* the browser takes the font size and multiplies it by 1.5. this is useful because it auto adjusts if you change the size of the font */
	font: normal 1em/1.5 'Helvetica, Arial, sans-serif';
	/* font-weight, font-size, line-height, font-family */
}

h1 {  
  font-size: 5.625rem; 
  color: rgba(255,255,255,1);
  text-transform: uppercase;
  line-height:1.3;
}

h2 {
  font-size: 53px;
  text-decoration: underline;
}

h3 {
  font-size: 20px;
  color: #48525c;
}

/* ID Selectors */

#main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: solid 10px orange;
}

/* Class Selectors */

.main-header {
  background-color: rgb(255,169,73);
  /* this makes the the color orange with transparency.  */
  /* the transparency comes from the A and the .4 wich relates to 40% */
}

.title {
  color: white;
  font-size: 26px;
}

.primary-content, 
.main-header {
  text-align: center;
}

.primary-content, 
.secondary-content{
	width: 60%;
}

.t-border {
  border-top: 2px solid lightgrey;
}

a:link {
  color: rgba(255,169,73,1);
  text-decoration: none;
}

a:visited {
  color: lightblue;
}

a:hover {
  color: forestgreen;
}

a:active {
  color: lightcoral;
}

a:focus {
  color: white;
  background-color: orange;
}















